<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Sign In </title>

</head>
<body>

<div id="signin"> </div>

<script src="built/bundle.js"></script>

<center>
    <h1> Sign in to Acebook! </h1>
    <br>
    <h4> Login Below </h4>

    <form action="/posts" method="get">
        Username:<br>
        <input type="text" name="username">
        <br>
        Password:<br>
        <input type="text" name="password">
        <br><br>
        <input type="submit" value="Login">
    </form>
</center>


</body>
</html>