<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Sign Up </title>

</head>
<body>

    <div id="signup"> </div>

    <script src="built/bundle.js"></script>

    <center>
        <h1> Join us at Acebook! </h1>
            <br>
        <h4> Sign Up Below </h4>

        <form action="/posts" method="get">
            Username:<br>
            <input type="text" name="username">
            <br>
            Password:<br>
            <input type="text" name="password">
            <br><br>
            <input type="submit" value="Create Account">
        </form>
    </center>

</body>
</html>